<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <li><a href="/credits">Créditos</a></li>
    <li><a href="/quizzes">Quizzes</a></li>
  </body>
</html>
